        <div class="footer-wrapper">
            <footer class="footer">
                <div class="row">
                    
                    <section class="widget-links">
                        <h2>Useful Links</h2>
                        <ul class="style2">
                            <li><a href="/courses">Courses</a></li>
                            <li><a href="/register">Registration</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </section>

                    <section class="widget-links">
                        <h2>Upcoming Courses</h2>
                        <ul class="style2">
                            <li><a href="/courses#js101">JavaScript 101</a></li>
                            <li><a href="/courses#advjs">Advanced JavaScript</a></li>
                            <li><a href="/courses#intnode">Intermediate Node.js</a></li>
                        </ul>
                    </section>
                
                    <section class="widget-contact last">
                        <h2>Find Us!</h2>
                        <ul>
                            <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                            <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                            <li><a href="http://plus.google.com" class="googleplus">Google+</a></li>
                        </ul>
                        <p><a href="mailto:fake@email.com">fake@email.com</a></p>
                    </section>
                </div>
                
                <p class="copyright">
                    &copy; html5up.net | @n33co
                </p>
            </footer>
        </div>