        <div class="header-wrapper container">
            <div class="12u">
                <header class="header">
                
                    <div class="logo">
                        <h1><a href="/" class="logo">Classy</a></h1>
                        <span>A simple course registration system.</span>
                    </div>
                    
                    <nav class="nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/courses">Courses</a></li>
                            <li><a href="/register">Register</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </nav>
                
                </header>
            </div>
        </div>