<div class="tooltip course-detail">
    <h4 class="title">
        <span class="course-name"></span>
        (<span class="course-id"></span>)
    </h4>
    <p class="course-date"></p>
    <p class="course-description"></p>
    <p class="instructor-info">Instructor: <span class="course-instructor"></span></p>
    <p class="course-enrollment">
        <span class="course-students"></span> of
        <span class="course-max"></span> seats filled
    </p>
    <a href="courses.html" class="button button-icon button-icon-info">View Course</a>
</div>