        </section> <!-- #content -->

        <footer>
            <h3>Footer</h3>
        </footer>

    </div> <!-- #wrapper -->

    <script src="script/lib/jquery-1.10.1.min.js"></script>
    <script src="script/lib/modernizr-2.6.2.min.js"></script>
    <script src="script/core.js"></script>
</body>
</html>