<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Classy - <%= title %></title>
    
    <link rel="stylesheet" href="style/normalize.min.css" />
    <link rel="stylesheet" href="style/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="style/core.css" />

    <!--[if lt IE 9]>
        <script src="script/lib/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <header>
            <h1 class="title">Classy</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </header>

        <section id="content">
            